<div class="row profile">
    <div class="col-md-3">
        <div class="profile-sidebar">
            <div class="profile-image">
                <% if(profile.image.length == 0) { %>
                    <img src="/images/tdt_logo.png" class="img-responsive" alt="LOGO TDTU">
                <% } else {%>
                    <img src="<%=profile.image%>" class="img-responsive" alt="Ảnh đại diện">
                <% }%>
                
            </div>
            <div class="profile-user-about">
                <div class="profile-user-about-name">
                    <%=profile.name%>
                </div>
                <div class="profile-user-about-faculty">
                    ĐH Tôn Đức Thắng
                </div>
                
                <% if( sameID ) {%>
                    <div class="profile-user-btn">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#updateAvatar">Đổi ảnh đại diện</button>
                        <button class="btn btn-success" data-toggle="modal" data-target="#updateInfoUser">Thay đổi thông tin</button>
                    </div>
                <% } %>
            </div>
            <div class="profile-nav">
                <ul class="nav">
                    <li class="active">
                        <a href="/profile/<%=profile._id%>">
                        <i class="glyphicon glyphicon-home"></i>
                        Bài đăng </a>
                    </li>
                    <li>
                        <a href="/profile/about/<%=profile._id%>">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        Thông tin </a>
                    </li>
                    
                </ul>
            </div>
            <!-- END MENU -->
        </div>
    </div>
    <div class="col-md-9">
        <div class="profile-content" id="profile-newsfeed">
        </div>
    </div>
</div>

<% if( sameID ) {%>
    <div>
        <div class="modal" id="updateInfoUser">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="text-align: center;">Cập nhật thông tin cá nhân</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name-edit">Tên hiển thị</label>
                            <input value="<%=profile.name%>" class="form-control" type="text" placeholder="Nhập tên của bạn" id="name-edit" name="name">
                        </div>
                        <div class="form-group">
                            <label for="class-edit">Lớp</label>
                            <input value="<%=profile.classID%>" class="form-control" type="text" placeholder="Nhập lớp" id="class-edit" name="classID">
                        </div>
                        <div class="form-group">
                            <label for="faculty-edit">Khoa</label>
                            <input value="<%=profile.faculty%>" class="form-control" type="text" placeholder="Nhập tên khoa" id="faculty-edit" name="faculty">
                        </div>
                        <div id="message-edit-info">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id='btn-edit-info'>Cập nhật</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal" id="updateAvatar">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="text-align: center;">Đổi ảnh đại diện</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="area-avatar-update">
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="form-control" id="avatar-upload" name="avatar" required accept="image/*"/>
                        </div>
                        <div id="message-change-avatar">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id='btn-upload-avatar'>Cập nhật</button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="removePost">
        <div class="modal-dialog">
            <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Xóa bài viết</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Bạn có chắc rằng muốn xóa bài viết này không?
                <div id="message-area-remove-post">

                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <input type="hidden" name='idPost' id="id-post-remove">
                <button type="button" class="btn btn-danger" id="btn-remove-post">Xóa</button>
            </div>
            </div>
        </div>
    </div>

    

    <div class="modal fade" id="modalPublish">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tạo bài viết</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" rows="8" placeholder="Bạn đang nghĩ gì?" id="content-post"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txt-url-youtube" placeholder="Đường dẫn video YouTube(Nếu có)">
                    </div>
                    <div class="form-group" id="message-error-index">

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="form-group" id="area-image-publish">

                    </div>
                    <div class="form-group insert-in-publish" id="insert-in-publish">
                        <p>Thêm vào bài viết</p>
                        <div>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadImageModal">Ảnh</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="image-publish-url" value="">
                        <input type="hidden" id="youtube-publish-url" value="">
                        <button type="button" class="btn btn-primary full-width" id="btn-post">Đăng bài</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  

            
    <div class="modal fade" id="modalEditPost">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Chỉnh sửa bài viết</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" rows="8" placeholder="Bạn đang nghĩ gì?" id="content-post-edit"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txt-url-youtube-edit" placeholder="Đường dẫn video YouTube(Nếu có)">
                    </div>
                    <div class="form-group" id="message-error-edit-post">

                    </div>
                    <div class="form-group" id="area-video-edit">
                    </div>
                    <div class="form-group" id="area-image-edit">
                    </div>

                </div>
                <div class="modal-footer">

                    
                    <div class="form-group insert-in-publish" id="edit-in-publish">
                        <p>Thêm vào bài viết</p>
                        <div>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadImageModalEdit">Ảnh</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="id-edit-post">
                        <input type="hidden" id="image-edit-post-url" value="">
                        <input type="hidden" id="youtube-edit-post-url" value="">
                        <button type="button" class="btn btn-primary full-width" id="btn-edit-post">Chỉnh sửa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- upload anh edit -->
    <div id="uploadImageModalEdit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Đăng tải tệp đính kèm</h4>
                </div>
                <div class="modal-body">
                    <input type='file' name='file-upload' id='image-post-upload-edit' class='form-control' accept="image/*" required><br>
                    
                </div>
                <div class="modal-footer">
                    <input type='button' class='btn btn-info' value='Upload' id='btn_upload_image_post_edit'>
                </div>
            </div>
        </div>
    </div>

<% } %>

<div class="modal" id="removeComment">
    <div class="modal-dialog">
        <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Xóa bình luận</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            Bạn có chắc chắn muốn xóa bình luận này không?
            <div id="message-area-remove-comment">

            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
            <input type="hidden" name='idComment' id="id-comment-remove">
            <button type="button" class="btn btn-danger" id="btn-remove-comment">Xóa</button>
        </div>
        </div>
    </div>
</div>